---
## Required
journal-type: print # change to systemctl to log outputs to systemctl
command-prefix: $ # Sets what symbol is used to trigger the bot

## Features
# ollama: true
# stable-diffusuion: true
#discord-status: "Game"

## Commands
jimin: True

## Bot replies when an emoji is used on it's own.
emoji-reply:
  - "<ExampleEmoji>"

## Looks for a substring (detect) and replies 
detect-message:
  - detect: "Detect this message"
    replies:
      - "Reply 1"
      - "Reply 2"
  - detect: "Detect this too"
    replies:
      - "Reply 3"
      - "Reply 4"

# Converts Twitter Links into vxtwitter links
vxtwitter: True


